# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment
.env
venv/
.env/
venv/

# IDEs
.idea/
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Test and coverage reports
*.coverage
*.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.orig
*.rej

# Pytest
.cache
pytest.ini
